section.information-section
  .container
    .row
      .d-flex.align-items-center
        h2.information-section__percents= information_section.percents
        p.information-section__text= information_section.text
