.contacts-form-control{
  min-width: calculateRem(316px);
  width: 100%;
  height: calculateRem(40px);
  display: block;
  border: solid 1px rgb(12, 177, 170);
  padding-left: calculateRem(8px);
}
.invalid-tooltip{
  top: auto;
}
